@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  font-family: "Outfit", sans-serif;
}

body {
  background-color: #d6e2f0;
}

.container {
  width: 100%;
  max-width: 300px;
  min-width: 300px;
  margin: 138px auto;
}

h1 {
  font-size: 22px;
  color: #1f3251;
  padding: 0 25px;
}

p {
  font-size: 17px;
  padding: 0 20px 30px;
  color: #7b879d;
}

.card-master {
  background-color: #ffff;
  border-radius: 10px;
  box-shadow: 10px 32px 72px rgb(30 30 30 / 10%);
}

.card {
  text-align: center;
}

.card img {
  max-width: 85%;
  margin-top: 7%;
  border-radius: 10px;
}
